<div class="brewerList">
<h3>Welcome {{store.user.email}}</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Brew</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  {{#each brewers as |beer index|}}
  <tbody>
    <tr>
      <td>{{beer.beer}}</td>
      <td>{{brewery}}</td>
      <td>{{style}}</td>
      <td>{{description}}</td>
      <td><button type="button" id="btn-update-{{this.id}}-{{index}}" class="btn btn-small btn-primary btn-submit-fix btn-update-beer">Update</button>
      <!--form class="form-delete-beer" -->
        <button type="button" id="btn-delete-{{this.id}}" class="btn btn-small btn-primary btn-submit-fix btn-delete-beer">Remove</button></td>
      <!--/form-->
     </tr>
    </tbody>
  {{/each}}
  </table>
</div>

<form class="add-beer">
    <button type="button" id="add" class="btn btn-small btn-primary btn-submit-fix" data-toggle="modal" data-target="#addModal">Add a brew</button>
</form>
