{{#each brewers as |beer|}}
<div class="brewerList">
<h3>{{brewery}} brewery</h3>
<table class="table table-bordered tablebilling">
  <thead class="thead-inverse">
    <tr>
      <th>Brew</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{beer.beer}}</td>
      <td>{{brewery}}</td>
      <td>{{style}}</td>
      <td>{{description}}</td>
      <td><button type="button" id="update" class="btn btn-small btn-primary btn-submit-fix">Update</button>
      <button type="button" id="delete" class="btn btn-small btn-primary btn-submit-fix">Delete</button></li></td>
    </tbody>
  </table>
</div>
{{else}}
<h2 class="text-center">No local brews on tap.</h2>
{{/each}}
<button type="button" id="add" class="btn btn-small btn-primary btn-submit-fix">Add a brew</button>
